body{
	height: 100vh;
	background-image: linear-gradient(rgb(92,100,221),rgb(109,250,289));
}
h1{
	margin-top: 12px;
	font-size: 30px;
	font-family: 'Segoe UI',Tahoma,geneva,verdana,sans-serif;
	text-align: center;
}

.logo{
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
}

.container{
	max-width: 955px;
	background-color:black;
	margin: auto;
	height: 60vh;
	padding: 33px;
	overflow-y: auto;
	margin-bottom:33px;
	border-radius: 13px;
}
.message{
background-color: pink;

width: 24%;
padding:10px;
margin:17px 12px;
border: 2px solid black;
border-radius:10px;
}
.left{
float: left;
clear: both;
}
.right{
float: right;
clear: both;
}
#send-container{
	text-align: center;
	display: block;
	margin: auto;
	max-width:1085px;
	width:100%;
	font-family: serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;

}
#messageinp{
	width: 72%;
	border: 2px solid black;
	border-radius: 6px;
	height: 34px;
	


}
.btn{
	width:9%;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 6px;
	height: 41px;
}
